<div class="cartao">
    <img class="poster" src="{{ (dadosFilme.poster_path)? (apiImagem+dadosFilme.poster_path) : '../../../assets/sem-imagem.jpg'}}">

    <h3>{{ dadosFilme.title }}</h3>
    
    <p>Lançamento: {{ 
        dadosFilme.release_date.split('-')[2]+'/'+
        dadosFilme.release_date.split('-')[1]+'/'+
        dadosFilme.release_date.split('-')[0] }}
    </p>
    
    <p>Avaliação: {{dadosFilme.vote_average}} / 10</p>

    <a routerLink="/detalhes-filme/{{dadosFilme.id}}"><h4>Ver mais sobre ...</h4></a>
</div>