<div class="item-filme">
    <div class="container-imagem">
      <img class="imagem" src="{{(dadosFilme.poster_path)? (apiImagem+dadosFilme.poster_path) : '../../../assets/sem-imagem.jpg'}}">

      <!--<div class="porcentagem">
        a<br>v<br>a<br>l<br>i<br>a<br>ç<br>ã<br>o
      </div>-->
    </div>

    <div class="container-informacao-basica">
      <b>{{ dadosFilme.title }}</b>
      <p>Lançamento: {{ dadosFilme.release_date.split('-')[2]+'/'+dadosFilme.release_date.split('-')[1]+'/'+dadosFilme.release_date.split('-')[0] }}</p>
      <a routerLink="/detalhes-filme/{{dadosFilme.id}}">Ver mais sobre ...</a>
    </div>
</div>
