<div class="container-principal">
  <div class="topo">
    <div class="container-logo">
        Sobre Filmes .com
    </div>

    <div class="container-input-pesquisa">
      <input class="input-pesquisa" type="text" placeholder="Pesquise aqui um filme, serie ou pessoa ;)">
    </div>
  </div>

  <div class="corpo">



    <div class="lista-horizontal-container">
      <div class="lista-horizontal-container-titulo">
        <h2>Filmes populares</h2>
      </div>
      <div class="lista-horizontal-corpo">
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
      </div>
    </div>

    <div class="lista-horizontal-container">
      <div class="lista-horizontal-container-titulo">
        <h2>Filmes populares</h2>
      </div>
      <div class="lista-horizontal-corpo">
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
      </div>
    </div>

    <div class="lista-horizontal-container">
      <div class="lista-horizontal-container-titulo">
        <h2>Filmes populares</h2>
      </div>
      <div class="lista-horizontal-corpo">
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
        <app-card-filme></app-card-filme>
      </div>
    </div>


    <!--<app-card-filme></app-card-filme>-->

    <div class="rodape">

    </div>
  </div>
</div>