<div class="container-principal">
  <div class="topo">
    <div class="container-logo">
        Sobre Filmes .com
    </div>

    <div class="container-input-pesquisa">
      <input class="input-pesquisa" type="text" placeholder="Pesquise aqui um filme, serie ou pessoa ;)">
    </div>
  </div>

  <div class="corpo">
    <app-lista-horizontal-filmes titulo='Populares' [listaFilmes]="filmesPopulares" class="item-lista-corpo"></app-lista-horizontal-filmes>
    <app-lista-horizontal-filmes titulo='Novos' class="item-lista-corpo"></app-lista-horizontal-filmes>
  </div>
</div>