<div class="container-geral">
    <div class="container-titulo">
        <h2>Visão geral</h2>
    </div>

    <div class="container-geral-corpo">
        <div class="cartao-poster">
            <img  class="poster" src="{{(detalhesFilme.poster_path)? (apiImagem+detalhesFilme.poster_path) : '../../../assets/sem-imagem.jpg'}}">
        </div>
        
        <div class="container-texto">
            <h1> {{detalhesFilme.title}} </h1>
            
            <h2> <b> Titulo original: </b> {{detalhesFilme.original_title}} </h2>
            
            <h3>Genero(s): <b *ngFor="let genero of detalhesFilme.genres"> {{ genero.name+',' }}</b> </h3>
            
            <h3>Lançamento: {{
                detalhesFilme.release_date.split('-')[2]+'/'+
                detalhesFilme.release_date.split('-')[1]+'/'+
                detalhesFilme.release_date.split('-')[0]
            }}</h3>
            
            <h3>Sinopse:</h3>
            
            <p>{{detalhesFilme.overview}}</p>
        </div>
    </div>
</div>

<div class="container-geral" *ngIf="elenco.length > 0">
    <div class="container-titulo">
        <h2>Elenco</h2>
    </div>

    <div class="container-corpo-elenco">
       <div  class="card-elenco" *ngFor="let pessoa of elenco">
           <img class="imagem-elenco" src="{{(pessoa.profile_path)? (apiImagem+pessoa.profile_path) : '../../../assets/sem-imagem.jpg'}}">
           
           <h4>{{pessoa.name}}</h4>

           <h6>Como: {{pessoa.character}}</h6> 
       </div>
    </div>
</div>

<app-lista-horizontal-filmes 
    titulo='Recomendados' [listaFilmes]="filmesRecomendados" *ngIf="filmesRecomendados.length > 0" class="item-lista-corpo">
</app-lista-horizontal-filmes>
