.container-geral{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-titulo{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: aliceblue;
    border-bottom: solid 1px gray;
}

.container-titulo h2{
    margin: 0px 0px 0px 32px;
    font-family: logo;
    font-size: 30px;
}

.container-geral-corpo{
    width: 100%;
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    background-color: #c1c1c1;
}

.cartao-poster{
    background-color: aliceblue;
    border-radius: 13px;
    margin: 0px 60px 0px 60px;
    max-height: 354px;
}

.poster{
    border-radius: 7px;
    margin: 12px;
    max-width: 220px;
    min-height: 330px;
}

.container-texto{
    font-family: sans-serif;
    color: #211800;
    text-shadow: 0px 0px 1px #63635f;
}

.generos{
    position: relative;
    float: left;
    margin-left: 13px;
}

.container-texto p{
    text-align: justify;
    margin-right: 42px;
}

@media (max-width: 767px){
    .container-geral-corpo{
        flex-direction: column;
        align-items: center;
    }

    .container-texto{
      margin: 0px 20px;
      text-align: center;
    }
    
    .container-texto p{
        margin: 0px 5px 0px 5px;
    }
}

.container-corpo-elenco{
    width: 100%;
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: #c1c1c1;
}

.card-elenco{
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: black 3px 3px 5px -1px;
    padding: 0px 20px 0px 20px;
    margin: 0px 25px 0px 25px;
    text-align: center;
    font-family: sans-serif;
    color: #211800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imagem-elenco{
    width: 154px;
    height: 210px;
    border-radius: 10px;
    margin: 20px 5px 0px;
}

.card-elenco h4, h6{
    margin: 6px 0px 13px 0px;
}