.lista-horizontal-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lista-horizontal-titulo{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-bottom: solid 1px gray;
}

.lista-horizontal-titulo h2{
    margin: 0px 0px 0px 32px;
    font-family: logo;
    font-size: 30px;
}

.lista-horizontal-corpo{
    width: 100%;
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    background-color: #c1c1c1;
}